.app {
  &_leftsider {
    position: absolute;
    top: 0;
    bottom: 0;
    width: $left-box-width;
    overflow: hidden;
  }
  &_rightsider {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: $left-box-width;
    overflow: hidden;
  }
}
