.app {
  &_leftsider {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 300px;
    overflow: hidden;
  }
  &_rightsider {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 300px;
    overflow: hidden;
  }
}
