$badage-padding: .5rem;
$checkbox-width: .5rem;
$checkbox-margin-right: 1rem;

.recruitment {
  font-size: .75rem;
  &_box {
    width: 100%;
    height: 100%;
    padding: 1.5rem 1.25rem;
    color: $main-fc;
    background-color: $main-bc;
  }
  &_header {
    height: 1.5rem;
    line-height: 1.5rem;
    margin: 1rem 0;
    text-overflow: ellipsis;
  }
  &_title {
    font-size: 1.5rem;
    &.highlight {
      color: $main-fc-lighten;
    }
    &.shallow {
      color: $main-fc-darken;
    }
  }
  &_clean-btn {
    font-size: 1rem;
    width: 3rem;
    padding-left: $badage-padding;
    padding-right: $badage-padding;
    text-align: right;
    &.highlight {
      color: $main-fc-lighten;
    }
    &.shallow {
      color: $main-fc-darken;
    }
  }
}

.recruitment-list {
  > ul {
    margin-top: 1rem;
    padding-left: 0;
    list-style: none;
  }
}

.recruitment-dept {
  > ul {
    margin: 1rem 0;
    padding-left: $checkbox-width + $checkbox-margin-right;
    list-style: none;
    > li {
      margin: .5rem 0;
    }
  }
}

.recruitment-entry {
  height: 1.25rem;
  line-height: 1.25rem;
  margin: .5rem 0;
  &_checkbar {
    padding: .2rem 0;
  }
  &_checkbox {
    width: $checkbox-width;
    margin-right: $checkbox-margin-right;
  }
  &_name {
    margin-right: .5rem;
    &.highlight {
      color: $main-fc-lighten;
    }
    &.shallow {
      color: $main-fc-darken;
    }
  }
  &_expand {
    &.highlight {
      color: $main-fc-lighten;
    }
    &.shallow {
      color: $main-fc-darken;
    }
  }
  &_count {
    padding: .2rem $badage-padding;
    text-align: right;
    &.badage {
      border-radius: .6rem;
      background-color: $main-bc-darken;
    }
  }
}

.recruitment-position {
}
