$root-fs: 16px;
$main-fc: #E6E6E6;
$main-fc-lighten: lighten($main-fc, 15%);
$main-fc-darken: darken($main-fc, 15%);
$main-bc: #607D8B;
$main-bc-lighten: lighten($main-bc, 15%);
$main-bc-darken: darken($main-bc, 15%);

$left-box-width: 27rem;
